.example-container {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.example-container > * {
  width: 100%;
}

.flex {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1;
}

.middle {
  text-align: center;
}

.map {
  height : 1000px;
}

.card {
  flex: 1 1 
}